*.swp
bazel-*
compile_commands.json
*.exe
*.ilk
*.pdb
*.obj
*.tlog
*.idb
*.recipe
*.stamp
*.suo
*.db*
*.hpp
third_party/boost/
third_party/muduo/
third_party/protobuf/
third_party/zlib/
output/
lib/
bin/
x64/
.vs/
vs.mk
gtestd.lib
gtest.lib
external
build
lib
*.suo
*.db
*.db-shm
*.db-wal
*.pch
*.rule
*.bin
*.exe
*.tlog
*.ipch
*.log
*.list